@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$orange: #d36135;
$dark_grey: #373f47;
$dark_grey_opaque: #373f479f;
$blue: #62929e;
$blue_opaque: #62929e3f;
$white: #fdfdff;
$white_opaque: #fdfdff8f;
$red: #cc2936;

$primary-font: "Montserrat", sans-serif;

$title_font_size: 4rem;
$subtitle_font_size: 2rem;
$header_font_size: 3rem;
$regular_font_size: 1.2rem;
$nav_font_size: 1.75rem;

$icon_size: 5rem;
