@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Raleway&display=swap");

$orange: #d36135;
$dark_grey: #373f47;
$dark_grey_opaque: #373f479f;
$blue: #46b1c9;
$blue_opaque: #46b1c92d;
$white: #fdfdff;
$white_opaque: #fdfdff8f;
$red: #cc2836;
$red_light: #66151c;

$primary-font: "Aboreto", cursive;
$secondary-font: "Raleway", sans-serif;

$title_font_size: 4.7rem;
$subtitle_font_size: 2rem;
$header_font_size: 3.7rem;
$regular_font_size: 1.2rem;
$nav_font_size: 1.75rem;
$skill_font_size: 1.5rem;

$icon_size: 5rem;
