@import "variables";

html,
body {
  margin: 0;
  font-family: $secondary-font;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  color: $dark_grey;
}

#home_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#home_title {
  font-family: $primary-font;
}

#home_subtitle {
  font-family: $secondary-font;
}

.view {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: center;
}

.view_title {
  font-family: $primary-font;
  font-size: $header_font_size;
  // margin-top: ;
}

#hamburger_icon_wrapper {
  position: fixed;
  top: 20px;
  left: 20px;
  transform: translateX(-100px);
  cursor: pointer;
  z-index: 2;
}

#hamburger_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
}

#hamburger_icon:hover .hamburger_line {
  background-color: $dark_grey_opaque;
  transition: 0.25s ease;
}

.hamburger_line {
  width: 50px;
  height: 3px;
  margin: 5px;
  background-color: $dark_grey;
  border-radius: 10px;
  transition: 0.25s ease;
}

.animate_in {
  animation: in 0.25s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.animate_out {
  animation: out 0.25s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes in {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes out {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100px);
  }
}

.hamburger_open {
  transition: all 0.3s ease-in-out;
}

.hamburger_open .hamburger_line:nth-child(1) {
  transform: translateY(13px) rotate(-45deg);
  background-color: $white;
}

.hamburger_open .hamburger_line:nth-child(2) {
  transform: translateX(-100px);
  opacity: 0;
}

.hamburger_open .hamburger_line:nth-child(3) {
  transform: translateY(-13px) rotate(45deg);
  background-color: $white;
}

#nav_item_container {
  height: 100vh;
  width: 20vw;
  background-color: $red;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 15px 0px 24px -12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 15px 0px 24px -12px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.nav_open {
  transform: translateX(0px);
  transition: 0.25s ease;
}

.nav_closed {
  transform: translateX(-1000px);
  transition: 0.25s ease;
}

.nav_tile {
  height: 8rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;

  a {
    text-decoration: none;
    color: $white;
    font-size: $nav_font_size;
    width: 100%;
    height: 100%;
    text-align: center;

    grid-row: 1 / span 3;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav_tile_hover {
    grid-row: 1 / span 3;
    grid-column: 1;
    z-index: -1;
    background-color: $red_light;
    padding-right: 20px;
    width: 100%;
    height: 100%;
    transform: translateX(-1000px);
    transition: 0.25s ease;
  }
}

.nav_tile:hover .nav_tile_hover {
  transform: translateX(0px);
}
