@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=BhuTuka+Expanded+One&family=Caveat&family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=BhuTuka+Expanded+One&family=Caveat&family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=BhuTuka+Expanded+One&family=Caveat&family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=BhuTuka+Expanded+One&family=Caveat&family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=BhuTuka+Expanded+One&family=Caveat&family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=BhuTuka+Expanded+One&family=Caveat&family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=BhuTuka+Expanded+One&family=Caveat&family=Dancing+Script&display=swap");
html,
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  color: #373f47;
}

#home_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#home_title {
  font-family: "Aboreto", cursive;
}

#home_subtitle {
  font-family: "Raleway", sans-serif;
}

.view {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.view_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

.view_title {
  font-family: "Aboreto", cursive;
  font-size: 3.7rem;
}

#hamburger_icon_wrapper {
  position: fixed;
  top: 20px;
  left: 20px;
  transform: translateX(-100px);
  cursor: pointer;
  z-index: 2;
}

#hamburger_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
}

#hamburger_icon:hover .hamburger_line {
  background-color: rgba(55, 63, 71, 0.6235294118);
  transition: 0.25s ease;
}

.hamburger_line {
  width: 50px;
  height: 3px;
  margin: 5px;
  background-color: #373f47;
  border-radius: 10px;
  transition: 0.25s ease;
}

.animate_in {
  animation: in 0.25s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.animate_out {
  animation: out 0.25s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes in {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes out {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100px);
  }
}
.hamburger_open {
  transition: all 0.3s ease-in-out;
}

.hamburger_open .hamburger_line:nth-child(1) {
  transform: translateY(13px) rotate(-45deg);
  background-color: #fdfdff;
}

.hamburger_open .hamburger_line:nth-child(2) {
  transform: translateX(-100px);
  opacity: 0;
}

.hamburger_open .hamburger_line:nth-child(3) {
  transform: translateY(-13px) rotate(45deg);
  background-color: #fdfdff;
}

#nav_item_container {
  height: 100vh;
  width: 20vw;
  background-color: #cc2836;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 15px 0px 24px -12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 15px 0px 24px -12px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.nav_open {
  transform: translateX(0px);
  transition: 0.25s ease;
}

.nav_closed {
  transform: translateX(-1000px);
  transition: 0.25s ease;
}

.nav_tile {
  height: 8rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.nav_tile a {
  text-decoration: none;
  color: #fdfdff;
  font-size: 1.75rem;
  width: 100%;
  height: 100%;
  text-align: center;
  grid-row: 1/span 3;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav_tile .nav_tile_hover {
  grid-row: 1/span 3;
  grid-column: 1;
  z-index: -1;
  background-color: #66151c;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  transform: translateX(-1000px);
  transition: 0.25s ease;
}

.nav_tile:hover .nav_tile_hover {
  transform: translateX(0px);
}

#home_view {
  background-color: #373f47;
  color: #fdfdff;
}

#home_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#home_header h1,
#home_header h3 {
  margin: 0;
}

#home_title {
  font-size: 4.7rem;
}

#home_subtitle {
  font-size: 2rem;
  margin-top: 10px;
}

#about_content_background {
  background-color: #46b1c9;
  width: 100%;
  height: 620px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#about_content {
  grid-column: 2/span 9;
  grid-row: 5/span 2;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  width: 80%;
}
#about_content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}
#about_content .about_cards {
  margin: 0;
  grid-row: 1/span 3;
  grid-column: 4/span 7;
  margin-left: 3rem;
  font-size: 1.2rem;
  padding: 20px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#about_content .about_cards .opened_card {
  position: fixed;
  background-color: #fdfdff;
  width: 60vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 11;
  cursor: pointer;
  border-radius: 30px;
  font-size: 1.75rem;
}
#about_content .about_cards .opened_card h1 {
  text-align: center;
  margin: 0;
  font-size: 3.5rem;
  width: 100%;
}
#about_content .about_cards .opened_card h2 {
  text-align: center;
  margin: 0;
}
#about_content .about_cards .opened_card p {
  padding: 30px 60px 10px 60px;
  margin: 0;
  text-indent: 80px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #373f47;
  font-size: 1.75rem;
}
#about_content .about_cards .opened_card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#about_content .about_cards .opened_card #hobbies_header {
  font-size: 6rem;
}
#about_content .about_cards .opened_card ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  width: 60%;
  padding: 0;
  margin: 40px;
}
#about_content .about_cards .opened_card ul li {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  list-style-type: none;
  text-align: center;
  font-size: 1.75rem;
}
#about_content .about_cards .opened_card .padding-bottom0 {
  padding-bottom: 0;
}
#about_content .about_cards .opened_card .padding-top0 {
  padding-top: 0;
}
#about_content .about_cards .card {
  background-color: #fdfdff;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  cursor: pointer;
  box-shadow: 25px 25px 38px -24px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 25px 25px 38px -24px rgba(0, 0, 0, 0.5);
}
#about_content .about_cards #Purpose {
  grid-column: 1/span 3;
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  letter-spacing: 7px;
  color: #d36135;
  font-size: 6rem;
}
#about_content .about_cards #School {
  grid-column: 4/span 2;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}
#about_content .about_cards #Family {
  grid-column: 1/span 2;
  font-family: "BhuTuka Expanded One", cursive;
  font-weight: bold;
}
#about_content .about_cards #Hobbies {
  grid-column: 3/span 3;
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 6rem;
}
#about_content .about_cards .dim-layer {
  border-radius: 0;
  margin: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: black;
  opacity: 0;
  z-index: -1111111;
}
#about_content .about_cards .dim_open {
  z-index: 10;
}

#about_image_wrapper {
  grid-row: 1/span 3;
  grid-column: 1/span 3;
  margin: 2rem;
  border-radius: 100%;
  box-shadow: 25px 25px 38px -16px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 25px 25px 38px -16px rgba(0, 0, 0, 0.5);
  border: 15px solid #fdfdff;
}

#skills_view {
  background-color: #fdfdff;
}

#skills_content {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem 0;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
  z-index: 0;
  background-color: #46b1c9;
}

.loop-slider .inner {
  display: flex;
  width: fit-content;
  animation-name: loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: var(--duration);
  z-index: 0;
}

.fade {
  pointer-events: none;
  background: linear-gradient(90deg, #46b1c9, transparent 10%, transparent 90%, #46b1c9);
  position: absolute;
  inset: 0;
  z-index: 0;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.skill_wrapper {
  background-color: #fdfdff;
  border-radius: 10px;
  margin: 10px;
  gap: 0 0.2rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  box-shadow: 0px 15px 36px -16px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 15px 36px -16px rgba(0, 0, 0, 0.5);
}
.skill_wrapper h4 {
  margin: 0;
  padding-right: 30px;
  font-size: 1.5rem;
}

.skill_image_wrapper {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skill_image_wrapper img {
  object-fit: cover;
  width: 70%;
  height: 70%;
}

#projects_background {
  width: 100%;
  background-color: #46b1c9;
  height: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects_content {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  grid-template-rows: repeat(11, 1fr);
  width: 80%;
  height: 80%;
}

.project_tile {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transition: 0.25s ease;
  cursor: pointer;
  box-shadow: 0px 15px 36px -16px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 15px 36px -16px rgba(0, 0, 0, 0.5);
}

#project_1 {
  grid-column: 2/span 6;
  grid-row: 2/span 9;
}

#project_2 {
  grid-column: 9/span 7;
  grid-row: 1/span 11;
  font-size: 1.25rem;
}

#project_3 {
  grid-column: 17/span 6;
  grid-row: 2/span 9;
}

.project_image_wrapper {
  width: 100%;
  height: 50%;
  border-radius: 10px;
}
.project_image_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.project_body {
  width: 100%;
  height: 50%;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  background-color: #fdfdff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project_body h1 {
  font-family: "Aboreto", cursive;
  margin: 0;
  padding-top: 20px;
}
.project_body p {
  text-align: left;
  margin: 20px;
  text-indent: 10%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.project_expand_background {
  background-color: rgba(70, 177, 201, 0.6039215686);
}

#certifications_view {
  background-color: #d36135;
}

#contact_view {
  background-color: #373f47;
}

/*# sourceMappingURL=globals.css.map */
